<table width="90%" align="center">
    <tbody>
        <tr>
            <td>
                <div id="contentPage">
                    <h2>Vision</h2>
                    -	To enhance the research and development in ICT form the university level for the institute, Nation &amp; The World.
                    <h2>Mission</h2>
                    -	To automate all the IOE in-house research and development activities<br>
                    -	To collaborate with industries and foreign ICT research agencies to carry out the research activities
                    <h2>Goal</h2>
                    <p>
                        -	To establish IOE as the world class institute in the field of ICT research and development <br>
                    </p>
                    <hr>
                    <h3>Under this research lab, the tasks what we can  do are, we</h3>
                    <ul>
                        <li>Operate and manage all ICT related research  and development activities of IOE</li>
                        <li>Operate, Maintain and Support IOE  internet/intranet/MIS system </li>
                        <li>Prepare annual research and  development plan </li>
                        <li>Collaborate with external research  projects &amp; agencies </li>
                        <li>Design/document/develop/evaluate/implement/maintain in-house ICT research and development projects </li>
                        <li>Maintain ICT repositories </li>
                        <li>Maintain research fund obtained as donations and supports in the projects</li>
                        <li>Provide internship for research and  development </li>
                        <li>Act as Nation/TU/IOE’s ICT advisor </li>
                        <li>Publish research papers and concept  copyright document </li>
                        <li>Maintain intellectual property  rights of LICT research works. </li>
                        <li>Support IOE bulletin  board/news/journal publications </li>
                    </ul>
                    <p></p>
                </div>
            </td>
        </tr>
    </tbody>
</table>